<html>
    <head>
        <title> Pagina de test </title>
    </head>
    <body>
        <h1> Pagina de prueba para probar Apache en CentOS y Ubuntu Server </h1>
        <br>
        <p> El hostname del serivdor es "{{ ansible_hostname }}" </p>
        <p> La IP asignada es "{{ ansible_all_ipv4_addresses[1] }}" </p>
    </body>
</html>
